<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.inria.diverse.swhModel.generator.commands.category"
            name="SWH">
      </category>
      <command
            categoryId="fr.inria.diverse.swhModel.generator.commands.category"
            id="fr.inria.diverse.swhModel.generator.commands.swhGeneratorCommand"
            name="SWT OCL generator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.inria.diverse.swhmodel.generator.ui.handlers.SWHGeneratorHandler"
            commandId="fr.inria.diverse.swhModel.generator.commands.swhGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/Software-heritage-logo32.png"
               id="fr.inria.diverse.swhModel.generator.menus.swhMenu"
               label="SWH">
            <command
                  commandId="fr.inria.diverse.swhModel.generator.commands.swhGeneratorCommand"
                  id="fr.inria.diverse.swhModel.generator.menus.sampleCommand">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <or>
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.oclas">
                        </test>
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.ocl">
                        </test>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
